*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
}
body{
    background: #F5F5F5;
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: -1;
    background: #FFF;
}
main{
    max-width: 1210px;
    margin: 0px auto;
}
header{
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo img{
    width: 40px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}